table {
  width: 100%;
}

mat-card {
padding-left: 50px;
padding-right: 50px;
}

th {
  font-size: large;
  font-weight: bolder;
  color: black;
  background-color: lightgray;
  align-content: center;
}

td[value="REVIEW"] {
  color: red;
}
