<app-header></app-header>
<div class="container-fluid">
  <br/>
  <h1>Privacy Policy</h1>
  <mat-divider></mat-divider>
  <div>
    <br/>
    <p>This policy explains what information we collect when you use our website "Pet Finder"
      services. It also has information about
      how we store,use, transfer, and delete that information. Our aim is to earn your trust and not
      misuse the information provided by you.</p>
    <mat-divider></mat-divider>
    <h2>Personal Data collected by us:</h2>

    <div>
      We collect personal data directly from you, when you choose to provide it to us.
      We collect various information regarding a user such as:
    <ol>
      <li>Account login details :Any data that is required to give you access to your specific
        account profile. Examples include your login ID/email address, screen name, password in
        unrecoverable form, email ID, phone and address.
      </li>
      <li>Interaction with our application: Adoption requests, following users, favorite pets</li>
    </ol>
      <mat-divider></mat-divider>
      <br/>
      <span>We do not collect any other data from a user other than the ones mentioned above.</span>
      <br/>
      <br/>
      <h2>Information Usage</h2>
      <ol>
        <li>Provide, test and personalize your experience on Pet Finder.</li>
        <li>Fight spam and other forms of abuse.</li>
        <li>Generate non identifying information about how people use our services.</li>
      </ol>
    </div>
    <mat-divider></mat-divider>
    <br/>
    <p>
      <b>We do not share the personal information provided by you with any third-party applications. We
      have taken steps to protect your personal information from unauthorized access and against
        unlawful processing, accidental loss, destruction and damage.</b>
    </p>
    <mat-divider></mat-divider>
    <br/>
    <p>
      We will only keep your personal information for as long as we resonably require and, in any event,
      only for as long as the Data Protection Legistlation allows.
    </p>
    <p>
      Where you have chosen a password which allows you to access certain parts of the Site,
      you are responsible for keeping this password confidential. We advise you not to share your password with anyone.
    </p>
    <mat-divider></mat-divider>
    <br/>
    <p><b>Cookies:</b> We employ cookies and similar technologies to keep track of your local computer’s
      settings such as which account you have logged into. Cookies are pieces of data that sites and
      services can set on your browser or device that can be read on future visits. </p>
    <mat-divider></mat-divider>
    <br/>
    <h2>Contact</h2>
    <p>To contact us about this Notice and/or our privacy practices, please contact Us at
      mahapatra.an@northeastern.edu or call our Office of Consumer Affairs at 224-622-3565</p>

  </div>
</div>
